[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"                       # Flask web framework
flask-sqlalchemy = "*"            # Adds SQLAlchemy support to your Flask application
flask-mail = "*"                  # Provides email sending capabilities

[requires]
python_version = "3.9"            # Specifies the Python version
